body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.field-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.map-container {
  width: 600px;
  height: 300px;
}
